<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Wizz" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-purple-100 ">
      <div class='container flex justify-between items-center mx-auto'>
        <h1 class="text-2xl font-bold">Wizz Alt Tool - Total Products: <%= Product.count %></h1>
        <div class="flex items-center gap-8">
          <% if @compact_view %>
            <%= link_to  products_path, class: "p-2 rounded font-bold hover:outline outline-purple-500"  do %>
              <%= inline_svg_tag "expanded.svg", class: "w-16 h-8" %>
            <% end %>
          <% else %>
            <%= link_to  products_path(view: 'compact'), class: "p-2 rounded font-bold hover:outline outline-purple-500"  do %>
              <%= inline_svg_tag "compact.svg", class: "w-16 h-8" %>
            <% end %>
          <% end %>

          <% if  SolidQueue::Job.all.where(finished_at: nil).any? %>
            <div class="m-2 p-2 w-8 h-8 rounded-full animate-spin border-8 border-solid border-sky-500 border-t-transparent"></div>
          <% else %>
            <%= link_to "Refresh suggestions" , refresh_path, class: "p-4 rounded font-bold hover:outline outline-purple-500", data: { turbo_prefetch: false } %>
          <% end %>
        </div>
      </div>
    </nav>

    <%= turbo_frame_tag "flash" do %>
      <%= render "layouts/flash" %>
    <% end %>
    <%= turbo_frame_tag "sidepanel" %>

    <main class="container mx-auto mt-28 px-5 ">
      <%= yield %>
    </main>
  </body>
</html>
